@using LoanSystem.Models
@model CustomerDTO

@if (Model.CustomerId == 0)
{
    <div class="text-primary" align="center"><h2>Create Customer</h2> </div>
}
else
{
    <div class="text-warning" align="center"><h2>Edit Customer</h2></div>
}
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>

@using (Html.BeginForm(FormMethod.Post, new { id = "AddCustomer" }))
{
   
    <div class="container border rounded bg-light text-dark w-50 pt-2">
        

        
            @Html.HiddenFor(x=>x.CustomerId, new{@class="form-control"})

        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="required">Customer Name:</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(x=>x.CustomerName, new {@class="form-control", type="string", required = "required", maxlength = "15"})
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="required">Mobile Number:</label>
             </div>
             <div class="col-4">
                @Html.TextBoxFor(x=>x.MobileNumber, new {@class="form-control", required = "required",type="number", maxlength = "10",min="6000000000",max="9999999999"})
             </div>
        </div>
        <div class="mb-3 row justify-content-center">
             <div class="col-3">
                 <label class="required">Aadhar Number:</label>
             </div>
             <div class="col-4">
                @Html.TextBoxFor(x=>x.AadharNumber, new {@class="form-control",required = "required", type="number",maxlength = "12",min="600000000000" })
             </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="required">Email Id:</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(x=>x.EmailId, new {@class="form-control",required = "required",type="email",placeHolder="enter your email here"})
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="required">Password:</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(x=>x.Password, new {@class="form-control",required = "required",type="password", placeHolder=""})
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="required">Role Name:</label>
            </div>
            <div class="col-4">
                @Html.DropDownListFor(x=>x.RoleId,Model.Roles,"Select Role", new {@class="form-control",required = "required" })
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
             <div class="col-3">
                 <input type="submit" class="btn btn-success" value="Submit" />
             </div>
        </div>
    </div>
}
