@using LoanSystem.Models
@model LoanDetailDTO


@{
    var id = User.Identity.GetClaimId();
    var role = User.Identity.GetClaimRole();
}


<button type="button" class="btn btn-light pb-2" style="background-color:lightgoldenrodyellow;">
    <a class="btn btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    Back to List
    </a>
</button>

<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>

@using (Html.BeginForm(FormMethod.Post, new { id = "AddLoan" }))
{
    @if (Model.LoanId == 0)
    {
        <div style="font-weight" align="center"><h2>Add Loan</h2> </div>
    }
    else
    {
        <div style="font-weight" align="center"><h2>Edit Loan</h2></div>
    }

    <div class="container border rounded bg-light text-dark w-50 pt-2">

        @Html.HiddenFor(x=>x.LoanId, new{@class="form-control"})
        
        <div class="mb-3 row justify-content-center">
            <div class=" col-3">
                <label class="form-label required ">  Customer Name</label>
            </div>
            <div class="col-4">
                @if (role == "Admin")
                {
                    @Html.DropDownListFor(model => model.CustomerId,Model.Customers  , new { @class="form-control"})
                }
                else
                {
                    { Model.CustomerId = Convert.ToInt32(id); }
                    @Html.HiddenFor(model => model.CustomerId)
                    @Html.DropDownListFor(model => model.CustomerId,Model.Customers  , new { @class="form-control",@disabled="disabled"})
                }
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="required">LoanType Name:</label>
            </div>
            <div class="col-4">
                @Html.DropDownListFor(x => x.LoanTypeId,Model.LoanTypes , new {@class="form-control",required="required"})
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="required">Date Of Sanction:</label>
            </div>
            <div class="col-4">
                 @Html.TextBoxFor(x=>x.DateOfSanction, new {@class="form-control",required = "required" , type="datetime-local"})
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="required">Loan Amount:</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(x=>x.LoanAmount, new {@class="form-control",required = "required" , maxlength = "12"})
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <input type="submit" class="btn btn-outline-success" value="Submit" />
            </div>
        </div>
    </div>
}