@using LoanSystem.Models
@model List<Customer>

<div style="float:right; background-color:lightyellow; font-size:16px;">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AddCustomer">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg> CreateCustomer
    </a>
</div>

<h2 style="font-weight">  Customer List </h2>
    <table class="table table-hover"  id="dataTable">
        <thead style="background-color: lightcyan;">
            <tr>
                <th class="text-center">Customer Id</th>
                <th class="text-center">Customer Name</th>
                <th class="text-center">Mobile Number</th>
                <th class="text-center">Aadhar Number</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Customer customer in Model)
        {
            <tr>
                <td class="text-center">@customer.CustomerId</td>
                <td class="text-center">@customer.CustomerName</td>
                <td class="text-center">@customer.MobileNumber</td>
                <td class="text-center">@customer.AadharNumber</td>
                <td class="text-center">
                    <a href="/Home/Update/@customer.CustomerId" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" onclick="ConfirmDelete(@customer.CustomerId)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    <tfoot>
        <tr>
            <td> </td>
        </tr>
    </tfoot>
    </table>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
}
