@using LoanSystem.Models
@model List<LoanDetails>


<div style="float:right; background-color:lightyellow; font-size:16px;">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="PayLoan">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
        </svg>Pay Loan
    </a>
</div>
<h2 style="font-weight;"> LoanDetail List </h2>
<table class="table table-hover" id="dataTable">
    <thead style="background-color: lightcyan;">
        <tr>
                <th class="text-center">LoanDetailsId</th>
                <th class="text-center">LoanId</th>
                <th class="text-center">Paid Amount</th>
                <th class="text-center">Balance Amount</th>
                <th class="text-center">Balance Duration</th>
                <th class="text-center">Total PaidAmount</th>
                <th class="text-center" data-orderable="false">Status</th>
                <th class="text-center" data-orderable="false">Actions</th>
            </tr>
    </thead>
    <tbody>
        @foreach (LoanDetails loanDetails in Model)
        {
            <tr>
                <td class="text-center">@loanDetails.LoanDetailsId</td>
                <td class="text-center">@loanDetails.LoanId</td>
                <td class="text-center">@loanDetails.PaidAmount</td>
                <td class="text-center">@loanDetails.BalanceAmount</td>
                <td class="text-center">@loanDetails.BalanceDuration</td>
                <td class="text-center">@loanDetails.TotalPaidAmount</td>
                <td class="text-center">
                    <a href="#" class="btn btn-info"> @(loanDetails.BalanceAmount == 0 ? "Loan Completed" : "Loan Pending") </a>
                </td>
                <td class="text-center" data-orderable="false">
                    <a href="/Home/EditPayedLoanDetail/@loanDetails.LoanDetailsId" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td> </td>
        </tr>
    </tfoot>
    </table>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
}